@font-face{font-family:'Zen Maru Gothic';font-style:normal;font-weight:700;font-display:swap;src:url(./zen-maru-700.woff2) format('woff2')}
@font-face{font-family:'Zen Maru Gothic';font-style:normal;font-weight:900;font-display:swap;src:url(./zen-maru-900.woff2) format('woff2')}
